# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Environment variables
.env

# Node
node_modules/
dist/
.vite/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Python testing
.pytest_cache/
.coverage
